<h1 class="index_header"> All Users </h1>
<div class="card">
  <div class="card-body">
    <%= will_paginate %>
    <br>
    <% @users.each do |user| %>
      <p> <%= link_to user.email, user_path(user.id) %>
        <% if user != current_user %>
            <% if !current_user.sent_friendrequests.any? { |fr| fr.receiver_id == user.id } && !current_user.friendships.any? { |fs| fs.befriended_id == user.id } %>
              | <%= link_to "Send friend request", friendrequests_path(:receiver_id => user.id), :method => :post %>
            <% elsif current_user.sent_friendrequests.any? { |fr| fr.receiver_id == user.id }%>
              | Friend request sent
            <% elsif current_user.friendships.any? { |fs| fs.befriended_id == user.id } %>
              | Friend
            <% end %>
        <% else %>
           | You
        <% end %>
      </p>
    <% end %>
    <br>
    <%= will_paginate %>
</div>
</div>
